<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuxm.flashsale.mapper.OrderMapper">

    <!-- mapping results -->
    <resultMap id="BaseResultMap" type="yuxm.flashsale.entity.Order">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="delivery_addr_id" property="deliveryAddrId"/>
        <result column="product_name" property="productName"/>
        <result column="product_count" property="productCount"/>
        <result column="product_price" property="productPrice"/>
        <result column="order_channel" property="orderChannel"/>
        <result column="status" property="status"/>
        <result column="create_date" property="createDate"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <!-- result list -->
    <sql id="Base_Column_List">
        id
        , user_id, product_id, delivery_addr_id, product_name, product_count, product_price, order_channel, status, create_date, payment_date
    </sql>

</mapper>
