<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuxm.flashsale.mapper.ProductMapper">

    <!-- mapping results -->
    <resultMap id="BaseResultMap" type="yuxm.flashsale.pojo.Product">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="product_title" property="productTitle"/>
        <result column="product_img" property="productImg"/>
        <result column="product_detail" property="productDetail"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_stock" property="productStock"/>
    </resultMap>

    <!-- get product list -->
    <select id="findProductVO" resultType="yuxm.flashsale.vo.ProductVO">
        SELECT p.id,
               p.product_name,
               p.product_title,
               p.product_img,
               p.product_price,
               p.product_stock,
               sale.flashsale_price,
               sale.stock_count,
               sale.start_date,
               sale.end_date
        FROM t_product p
                 LEFT JOIN t_flashsale_product sale on p.id = sale.product_id
    </select>

</mapper>
